*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	margin: 0;
	background-color: #212022;
}

.header .content .aside .footer {
	padding: 1em 2em;
}

.content .aside {
	display: inline-block;
}

.footer{
	clear:both;
}

.header{
	background-color: #F7736A;
	height: 100px;
	width: 100%;
	font-size: 60px;
	text-align: center;
	padding-top: 10px;
	color:white;
}

.content: {
	margin: 0 auto;
	width: 1300px;
}

.aside{
	width: 40%;
	background-color: lightgray;
	height: 600px;
	display: inline-block;
	padding:2em;
	float: left;
}

.post{
	background-color: #212022;
	height: 600px;
	width: 60%;
	display: inline-block;
	padding: 1em;
	float: left;
}

.footer{
	background-color: gray;
	height: 50px;
	padding: 1rem;
	text-align: center;
	clear: both;
}

figure{
	display: inline-block;
	margin:0;

}
figcaption{
	position: relative;
	bottom: 50px;
	left: 15px;
	font-size: 30px;
	font-family: verdana;
	font-weight: bold;
	color: #212022;
	visibility: hidden;
}

figure:hover figcaption{
	visibility: visible;
}


img {
	width: 400px;
	height: auto;
	display: inline-block;
	text-align: center;
}

img:hover {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
img:hover {
	-webkit-filter: grayscale(100%) blur(2px);
	filter: grayscale(100%) blur(2px);
}

@media screen and (min-width: 1100px) and (max-width: 1500px) {
	figure img{
		width: 300px;
	}
	.aside{
		height: 500px;
	}
	.post{
		height: 500px;
	}
}

@media screen and (min-width: 900px) and (max-width: 1099px) {
	
	figure img{
		width: 250px;
	}
	.aside{
		height: 350px;
	}
	.post{
		height: 350px;
	}
}

@media screen and (min-width: 840px) and (max-width: 899px) {
	.aside{
		width: 100%;
	}
	.post{
		width: 100%;
	}
}

@media screen and (min-width: 740px) and (max-width: 839px) {
	figure img{
		width: 350px;
	}
		.aside{
		width: 100%;
	}
	.post{
		width: 100%;
	}
}

@media screen and (min-width: 640px) and (max-width: 739px) {
	figure img{
		width: 300px;
	}
		.aside{
		width: 100%;
	}
	.post{
		width: 100%;
	}
	.header{
		height: 50px;
		font-size: 30px;
	}
}

@media screen and (max-width: 639px) {
	figure img{
		width: 100%;
	}
	.aside{
		width: 100%;
		height: 100%;
	}
	.post{
		width: 100%;
		height: 100%;
	}
		.header{
		height: 50px;
		font-size: 30px;
	}
}
