*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	text-align: center;
	background-color: lightgray;
}

header{
	background-color: gray;
	font-size: 30px;
}

